@use "../default/base" as vars;
.footer {
    padding: 30px 0 20px;
    background-color: vars.$black;
    transition: padding 0.3s;
  
    .logo {
      margin-right: 25px;
    }
  
    &__menu {
      padding-bottom: 30px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      justify-content: space-between;
    }
  
    &__list {
      padding: 0;
      list-style: none;
      display: inline-flex;
      flex-wrap: wrap;
      margin-right: 40px;
      gap: 20px;
    }
  
    &__bottom {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 15px;
      margin: 0;
    }
  
    &__copyright {
      font-family: vars.$secondary-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: vars.$white;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  
    &__privacy-policy {
      font-family: vars.$secondary-font;
      margin: 0;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      display: flex;
      gap: 5px;
      color: vars.$white;
    }
  }

  .footer__privacy-policy span {
    white-space: nowrap
}

  .socials {
    padding: 0;
  }
  
  .socials__item:not(:last-child) {
    margin-right: 30px;
  }

  a,
  a:hover,
  a:visited {
    text-decoration: none;
  }