$orange: #FFB548;
$white: #fff;
$swiper-theme-color: #007aff;
$black: #000;
$swiper-preloader-color: #000;
$gray: #363636;
$darkgray: rgba(255, 255, 255, .08);
$brown: #8B4513;
$dark-gray: #1a1917;
$red: #ff2a2a;

$primary-font: 'Bebas Neue', serif;
$secondary-font: 'Open-Sans', sans-serif;